* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity:.1}
    to {opacity: 1}
  }
  
  @keyframes fade{
    from {opacity: .1}
    to {opacity: 1}
}

html {
    font-size: 10px;   
    scroll-behavior: smooth;
}

@font-face {
    font-family: Lato-Bold;
    src:url(assets/fonts/Lato-Bold.ttf)
}

@font-face {
    font-family: Lato-Black;
    src:url(assets/fonts/Lato-Black.ttf)
}

@font-face {
    font-family: Lato-Light;
    src:url(assets/fonts/Lato-Light.ttf)
}

@font-face {
    font-family: Lato-Regular;
    src:url(assets/fonts/Lato-Regular.ttf)
}

h1 {
    font-family: 'Lato-Bold',sans-serif;
    font-size: 2.5rem;
    line-height: 0.65rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.8rem;
    color: #666d89;  
}

h3 {
    font-family: 'Lato-Black',sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.9rem;
    color: #666d89;
}


.wrapper {
    max-width: 1020px;
    margin: auto;
}


.header .wrapper { 
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    height: 95px; 
   
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    padding: 0px 0 2.1px 40.2px;
    letter-spacing: -0.019em;
}

.star {
    color: #f06c64;
}

.navigation {
    display: flex;
    padding: 7px 38px 0 0px;  
}

.navigation__item {
    list-style: none;
    padding: 0 0 0 29px;
    position: relative; 
}
.navigation__link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lato-Bold', sans-serif;
    text-transform: uppercase;
}

.navigation__link_bordered {
    color: #f06c64;
}

.navigation__item::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: #494e62;      
    position: absolute;
    left: 14px;
    bottom: 5px;
    border-radius: 50%;
 }

.navigation__item:first-child::before {
    display: none;
}

.navigation__link:hover {
    color: #f06c64;
    transition-duration: 0.2s;
}

.promo,
.services,
.portfolio,
.team,
.contacts {
    scroll-margin-top: 95px;
}
/*Promo*/
 
.promo .wrapper {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    height: 600px;   
    
}


.promo__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
     transition: transform 0.6s ease;
}




.promo__arrow-left {
    position: absolute;
    left: 42px;
    bottom: 286px;
    opacity: 0.4;
}

.promo__arrow-right {
    position: absolute;
    bottom: 286px;
    right: 40px;
    opacity: 0.4;
}

.promo__arrow-left:hover,
.promo__arrow-right:hover {
    background-color: #120e0e00;
    opacity: 1;
    transition-duration: 0.3s;
    cursor: pointer;
}



.promo__iphone-vertical {
    position: absolute;
    top: 53px;
    right: 0;
    left: 112px; 
    cursor: pointer;  
}


.bcg_vertical {
    position: absolute;
    left: 125px;
    bottom: 142px;
    display: none;  
}


.promo__iphone-horizontal {
    position: absolute;
    right: 111px;
    bottom: 180px;
 
}


.bcg_horizontal {
    position: absolute;
    right: 202px;
    top: 187px; 
    display: none;    
}

.slide__two {
    position: absolute;
    top: 0px; 
    transition: all ease 1s;
    left: 0;
    top: 0;
}


.dispOff {
    display: block;
}

.services .wrapper {
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    
}

.services__title {
    letter-spacing: -0.007em; 
    padding: 68px 0px 27px 40.4px;
}

.services__text {
    font-family: 'Lato-Light',sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #767e9e;
    line-height: 3rem;
    text-align: justify;
    padding: 0 40px 0 40px;
}

.layout-item  {
    flex-basis: 31.9%;
    padding: 0 0 95px 98px;
    position: relative;
    overflow: hidden;    
}

.layout-3-column {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;     
}

.services-layout {
    padding: 45px 18px 0 0;
}

.layout-item__title {
    padding: 0 0 8.5px 1.1px;
    letter-spacing: -0.002em;
}

.layout-item__text{
    position: absolute;
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #767e9e; 
    letter-spacing: -0.007em;
    text-align : justify;
    display: block;
    overflow: hidden; 
    max-height: 51%;
    max-width: 69%;
}

.icon_pen::before {
    position: absolute;
    content: url(assets/img/Pen.png);
    left: 20px;
    top: 2px;
}

.icon_bulb::before {
    position: absolute;
    content: url(assets/img/Bulb.png);
    left: 19px;
    top: 2px;
}

.icon_heart::before {
    position: absolute;
    content: url(assets/img/Heart.png);
    left: 20px;
    top: 2px;
}

.icon_phone::before {
    position: absolute;
    content: url(assets/img/Phone.png);
    left: 20px;
    top: 2px;
}

.icon_bubble::before {
    position: absolute;
    content: url(assets/img/Bubble.png);
    left: 19px;
    top: 2px;
}

.icon_star::before {
    position: absolute;
    content: url(assets/img/Star.png);
    left: 20px;
    top: 2px;
}

/* Portfolio */

.portfolio .wrapper {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    height: 869px;  
}

.portfolio__title {
    padding: 68px 0 0 40.7px;
    letter-spacing: -0.007em;
}

.portfolio__text {
    font-family: 'Lato-Light',sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #767e9e;
    line-height: 3rem;
    text-align: justify;
    padding: 27px 39px 0 40.7px;
}

.layout-tags {
    padding:11.6px 0 0 41px;
}

.layout-tags__tag {
    border: 1px solid #666d89;
    margin-left: 1px;
    padding: 2px 6.4px;
    border-radius: 5px;
    margin: 0 6.5px 0 0;
    cursor: pointer;
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #666d89;
    text-decoration: none;
    transition-duration: 0.3s;

}


.layout-4-column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
   
}

.layoyt-4-column__image {
    padding: 10px;
    cursor: pointer;
}


.portfolio__bordered {
    outline: rgb(240, 108, 100) solid 5px; 
    outline-offset: -10px; 
  
}

.layoyt-4-column__image:hover {
    outline: rgb(240, 108, 100) solid 5px; /* цвет рамки portfolio*/
    outline-offset: -10px; /*подстраивание размера рамки */
    
} 


.portfolio-layout {
    padding-top: 11px;
    overflow: hidden;
    max-height: 74%;
}

/* .layout-tags__link_bordered {
    color: #fff;
    border-color: #fff;
} */

.layout-tags_bordered {
    color: #fff;
    border-color: #fff;
}

.layout-tags__tag:hover {
    border-color: #fff;
    color: #fff;

}
/* .layout-tags__tag:hover .layout-tags__link {
    color: #fff;
} */

/* team */

.team .wrapper {
    height: 734px;
    border-bottom: 6px solid #fff;
    background-color: #f2f2f2;
}

.team__title {
    padding: 68px 0 0 40.6px;
    letter-spacing: -0.008em;
}

.team__text {
    font-family: 'Lato-Light',sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #767e9e;
    line-height: 3rem; 
    padding: 27px 40px 0 40.6px;
    text-align: justify;
}

.container-team {
    display: flex;
    justify-content: space-between;
    padding: 45px 40px 0 40px;
}

.container-team__item {
	flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-team__item:nth-child(2) {
    padding-right: 1px;
}

.container-team__title {
    position: absolute;
    letter-spacing: -0.01em;
    bottom: -36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 305px;
    max-height: 19px;
}

.container-team__text {   
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #767e9e; 
    text-align : justify;   
    letter-spacing: -0.005em;
    text-align: justify;
    position: absolute;
    bottom: -87px
}

.social-links {
    padding: 24px 0 0 0;
    position: absolute;
    bottom: -145px;
}

.social-links__item {
    padding: 2px 4.5px 0 1px;
}

.social-links:not(:last-child) {
    margin: 1px 0px 0 -1px;
}


.social-links__image:hover {
    border-radius: 50%;
    -webkit-box-shadow: inset 2px 2px 44px -7px rgba(118,126,158,0.85); 
    box-shadow: inset 2px 2px 44px -7px rgba(118,126,158,0.85);
    transition-duration: 0.3s;   
}

/* contacts */

.contacts .wrapper {
    height: 654px;
    border-bottom: 6px solid #ea676b;
    background-color: #f06c64;
}

.contacts__title {
    padding: 68px 0 0 40.7px;
    letter-spacing: -0.006em;
    color: #f0d8d9;
}

.contacts__text {
    font-family: 'Lato-Light',sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #f0d8d9;
    line-height: 3rem;
    padding: 27px 39.4px 0 40.7px;
    text-align: justify;
}

.contacts__form {
    padding: 44px 0 0 40px; 
}

.contacts__form-info {
    display: flex;
}

.form__input {
    width: 619px;
    height: 38px;
    background-color: #d6564f;
    border-radius: 5px;
    border: none;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-bottom: 1px;
    outline: none;
    color: #f0d8d9;
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    letter-spacing: 0.003em;
    text-align : justify;   
}

/* Chrome, Safari */
.form__input::-webkit-input-placeholder {
    color: #e87675;
}

/* Microsoft Edge */
.form__input::-ms-input-placeholder {
    color: #e87675;
}

/* Firefox */
.form__input::-moz-placeholder {
    color: #e87675;
}

.form__input:hover {
    background-color: #ba524d;
    transition-duration: 0.3s;
}


.form__input_textarea {
    height: 202px;
    padding-top: 7.1px;
    letter-spacing: 0.015em;
    resize: none;
}

.form__submit {
    height: 38px;
    width: 70px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    color: #f0d8d9;
    font-family: 'Lato-Black',sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.9rem; 
    margin-top: -4px;
    cursor: pointer;
    outline: none;
}

.form__submit:hover {
    background-color: #ba524d;
    transition-duration: 0.3s;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 21.4px;
}

.contact-info__title {
    padding-bottom: 9px;
    color: #f0d8d9;
    letter-spacing: -0.004em;
}

.contact-info__text {
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    color: #f0d8d9;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: justify;
}

.info-link {
    display: flex;
    flex-direction: column;
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #f0d8d9;
    padding-left: 23px;
    position: relative;   
}

.info_item {
    text-decoration: none;
    color: #f0d8d9;  
}

.info_item:hover {
    color:#ba524d;
}

.info__email {
    padding-top: 1px;
}

.info__location::before {
    content: url(assets/img/map-marker.svg);
    position: absolute;
    left: 3px;
    top: 1.5px; 
}


.info__tel::before {
    content: url(assets/img/phone.svg);
    position: absolute;
    left: 1px;
    top: 22px;
}

.info__email::before {
    content: url(assets/img/mail.svg);
    position: absolute;
    left: 0;
    bottom: -1px;   
}

.footer .wrapper {
    background-color: #2d303a;
    height: 76px;
}

.footer__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__text {  
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.2rem;
    color: #666d89;
    font-weight: 400;
    line-height: 0.6rem;
    letter-spacing: -0.01em;
    padding: 0px 0 1px 42.2px;
}

.icons-footer__svg {
    fill: #666d89;   
}

.icons-footer {
    display: flex;
    padding-right:40px;
}
.icons-footer__link:not(:last-child) {
    margin-right: 8px;
}

.icons-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    text-decoration: none;
    border: 1px solid #666d89;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.icons-footer__link:hover {
    border-color: #ffffff;
    transition-duration: 0.3s;
}

.icons-footer__link:hover .icons-footer__svg {
    fill: #ffffff;
    transition-duration: 0.3s;
}  


#pop-up_msg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #0008;

}

#pop-up_msg .message {
    position: absolute;
    top: 180px;
    left: calc(50vw - 150px);
    width: 400px;
    height: 215px;
    background-color: #f0d8d9;
    color: #666d89;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.pop-up_header {
    font-family: 'Lato-Black',sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.9rem;
    color: #666d89;
    border-bottom: 3px solid #666d89;
    padding-bottom: 10px;
    padding-top: 15px;
}

.pop-up-text {
    font-family: 'Lato-Regular',sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.1rem;
    text-align: left;
    max-height: 115px;
    overflow: hidden;
    padding-top: 10px;
}

.pop-up-btn {
    border-radius: 6px;
    border: 1px solid #666d89;
    width: 50px;
    padding: 6px 0px 6px 0px;
    margin-top: 48px;
} 

.pop-up-btn:hover {
    background-color: #ba524d;
    color:#fff;
    cursor: pointer;

}


 .pop-up_hidden {
    display: none;
}